body {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.flex-center {
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
}
.flex-column {
    display: flex;
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

.landing-height {
    height: 100vh;
}