/* Import the mixins */
/* Import the rules */
/* General rules */
body {
  font-weight: 300; }

/* Centering main rule */
.center {
  -webkit-justify-content: center;
  justify-content: center; }

.text-center {
  text-align: center; }

.margin-center {
  margin: 0 auto; }

/* Columns */
.column {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

/* basic height for landing websites*/
.landing-height {
  min-height: 100vh; }

/* Vertical align (because it's a flex grid duh) */
.vertical-align, .button, .skeleton {
  -webkit-align-items: center;
  align-items: center; }

/* Idon't know what this is but it's cool when you use paddings */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

hr {
  height: 0.1px;
  width: 100%;
  border: 1px solid black; }

/* Import the buttons */
.button, .skeleton {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #171716;
  padding: 3px;
  border-radius: 15em;
  width: 100px;
  height: 30px;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
  margin: 5px; }
  .button:hover, .skeleton:hover {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: 0.2s; }

.big {
  width: 170px;
  height: 60px; }

.skeleton {
  background: transparent;
  color: #171716;
  border: 1px solid #171716; }
  .skeleton:hover {
    background: #171716;
    transition: 0.2s;
    color: white; }

/* Import the grid */
.base-properties, .row, .container, .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
  display: flex;
  flex-wrap: wrap; }

.row {
  min-width: 100%;
  max-width: 100%; }

.container {
  width: 1100px;
  max-width: 1100px;
  margin: 0 auto; }

.one {
  width: calc(100%/12);
  max-width: calc(100%/12); }

.two {
  width: calc(100%/6);
  max-width: calc(100%/6); }

.three {
  width: calc(100%/4);
  max-width: calc(100%/4); }

.four {
  width: calc(100%/3);
  max-width: calc(100%/3); }

.five {
  width: calc(100%/2.4);
  max-width: calc(100%/2.4); }

.six {
  min-width: calc(100%/2.1);
  max-width: calc(100%/2.1); }

.seven {
  width: calc(100%/1.72);
  max-width: calc(100%/1.72); }

.eight {
  width: calc(100%/1.5);
  max-width: calc(100%/1.5); }

.nine {
  width: calc(100%/1.33333);
  max-width: calc(100%/1.33333); }

.ten {
  width: calc(100%/1.2);
  max-width: calc(100%/1.2); }

.eleven {
  width: calc(100%/1.090909);
  max-width: calc(100%/1.090909); }

.twelve {
  width: 100%; }

@media (max-width: 500px) {
  .one,
  .two,
  .three,
  .four,
  .six,
  .five,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve {
    min-width: 100%; }

  .container {
    max-width: 450px; } }
@media (max-width: 450px) {
  .container {
    max-width: 350px; } }
/* Import the inputs */
.form {
  width: 90%;
  padding: 10px; }

.full input[type=url],
.full input[type=text],
.full input[type=password],
.full input[type=number],
.full input[type=email],
.full input[type=file],
.full input[type=submit] {
  height: 30px;
  width: 100%;
  border: 1px solid #ededed;
  border-radius: 4px;
  outline: none;
  transition: 0.2s;
  margin: 10px;
  padding: 0 10px; }
  .full input[type=url]:focus,
  .full input[type=text]:focus,
  .full input[type=password]:focus,
  .full input[type=number]:focus,
  .full input[type=email]:focus,
  .full input[type=file]:focus,
  .full input[type=submit]:focus {
    font-size: 15px;
    box-shadow: 0 0 1px rgba(23, 23, 22, 0.5);
    outline: #171716;
    transition: 0.2s; }

/* Import the headings */
h1 {
  font-size: 2rem; }

/* Import the links */
a {
  color: #171716;
  opacity: 0.5;
  transition: 0.2s;
  text-decoration: none; }
  a:hover {
    opacity: 1;
    transition: 0.2s; }

body {
  font-family: 'Lato', sans-serif; }

/*# sourceMappingURL=andrea.css.map */
