.buttons {
    background: #FFF;
    border: 1px solid black;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 100px;
    height: auto;
    margin; 5px;
    text-align: center;
}