body {
    margin: 0;
    padding: 0;
}

.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}
.flex-center {
    -webkit-justify-content: center;
            justify-content: center;
}
.flex-column {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

.landing-height {
    height: 100vh;
}

.vertical-align {
    -webkit-align-items: center;
            align-items: center;
}

.border-box {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

