.button {
  @extend .vertical-align;
  -webkit-display: flex;
  -webkit-justify-content: center; 
  background: #171716;
  border-radius: 15em;
  color: white;
  cursor: pointer; 
  display: flex; 
  height: 30px;
  justify-content: center; 
  letter-spacing: 2px;
  margin: 5px;
  padding: 3px;
  width: 100px;
}

.button-big {
  width: 170px;
  height: 60px;
}

.button-skeleton {
  @extend .button;
  background: transparent;
  border: 1px solid #171716;
  color: #171716;
  &:hover {
    background: #171716;
    color: white;
  }
}