.button {
  @extend .flex;
  @extend .flex-center;
  @extend .vertical-align; 
  background: #171716;
  border-radius: 15em;
  color: white;
  cursor: pointer; 
  height: 30px;
  letter-spacing: 2px;
  margin: 5px;
  padding: 3px;
  width: 100px;
}

.button-big {
  height: 60px;
  width: 170px;
}

.button-skeleton {
  @extend .button;
  background: transparent;
  border: 1px solid #171716;
  color: #171716;
  &:hover {
    background: #171716;
    color: white;
  }
}