//Flex Base Style
.base-properties {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
}

.row {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 100%;
}

.container {
  width: 950px;
  max-width: 950px;
  margin: 0 auto;
}

.one {
  width: calc(100%/12);
  max-width: calc(100%/12);
}
.two {
  width: calc(100%/6);
  max-width: calc(100%/6);
}
.three {
  width: calc(100%/4);
  max-width: calc(100%/4);
}
.four {
  width: calc(100%/3);
  max-width: calc(100%/3);
}
.five {
  width: calc(100%/2.4);
  max-width: calc(100%/2.4);
}
.six {
  min-width: calc(100%/2.1);
  max-width: calc(100%/2.1);
}
.seven {
  width: calc(100%/1.72);
  max-width: calc(100%/1.72);
}
.eight {
  width: calc(100%/1.5);
  max-width: calc(100%/1.5);
}
.nine {
  width: calc(100%/1.33333);
  max-width: calc(100%/1.33333);
}
.ten {
  width: calc(100%/1.2);
  max-width: calc(100%/1.2);
}
.eleven {
  width: calc(100%/1.090909);
  max-width: calc(100%/1.090909);
}
.twelve {
  width: 100%;
}

@media (max-width: 1000px) {
  .one   ,
  .two   ,
  .three ,
  .four  ,
  .six   ,
  .five  ,
  .seven ,
  .eight ,
  .nine  ,
  .ten   ,
  .eleven,
  .twelve    { min-width: 100%; }
  .container { max-width: 100%; }
}

@media (max-width: 700px) {
  .container { max-width: 100%; }
}

@media (max-width: 450px) {
  .container { max-width: 100%; }
}
