.form {
  width: 90%;
  padding: 10px;
}

.full {
  input[type=url],
  input[type=text],
  input[type=password],
  input[type=number],
  input[type=email],
  input[type=file],
  input[type=submit] {
    height: 30px;
    width: 100%;
    border: 1px solid #ededed; 
    border-radius: 4px;
    outline: none;
    transition: 0.2s;
    margin: 10px;
    padding: 0 10px; 
    &:focus {
      font-size: 15px;
      box-shadow: 0 0 1px rgba(23,23,22, 0.5);
      outline: #171716;
      -webkit-transition: 0.2s; 
      -moz-transition: 0.2s; 
      -ms-transition: 0.2s; 
      -o-transition: 0.2s; 
      transition: 0.2s; 
    }
  }
}