a {
  -moz-transition: 0.2s; 
  -ms-transition: 0.2s; 
  -o-transition: 0.2s; 
  -webkit-transition: 0.2s; 
  color: #171716;
  opacity: 0.5; 
  text-decoration: none;  
  transition: 0.2s; 
  &:hover {
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    opacity: 1;
    transition: 0.2s;
  }
}