.center {
    text-align: center !important;
    -webkit-justify-content: center; 
    justify-content: center; 
    margin: 0 auto;
}

.margin-center {
    margin: 0 auto;
}

.flex-center {
    -webkit-justify-content: center;
            justify-content: center;
}
.flex-column {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

.landing-height {
    height: 100vh;
}

.vertical-align {
    -webkit-align-items: center;
            align-items: center;
}

.border-box {
    @include border-box;
}

