/* General rules */
body {
    font-weight: 300;
    margin: 0;
    padding: 0;  
}

/* Centering main rule */
.center {
    -webkit-justify-content: center; 
    justify-content: center; 
}

.right {
    -webkit-justify-content: flex-end; 
    justify-content: flex-end; 
}

.left {
    -webkit-justify-content: flex-start; 
    justify-content: flex-start; 
}

.text-center {
    text-align: center;
}

.margin-center {
    margin: 0 auto;
}

/* Columns */
.column {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
}

/* basic height for landing websites*/
.landing-height {
    min-height: 100vh;
}

/* Vertical align (because it's a flex grid duh) */
.vertical-align {
    -webkit-align-items: center;
            align-items: center;
}

/* Idon't know what this is but it's cool when you use paddings */
.border-box {
    @include border-box;
}

hr {
    height: 0.1px;
    width: 100%;
    border: 1px solid black;
}
