/* Import the mixins */
/* Import the rules */
/* General rules */
body {
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-family: "Lucida Console", Monaco, monospace; }

/* Soft Resets */
.no-margin, .no-margn-or-padding {
  margin: 0; }

.no-padding, .no-margn-or-padding {
  padding: 0; }

.flex, .button, .button-skeleton {
  display: flex;
  -webkit-display: flex; }

/* Centering main rule */
.flex-center, .button, .button-skeleton {
  -webkit-justify-content: center;
  justify-content: center; }

.flex-right {
  -webkit-justify-content: flex-end;
  justify-content: flex-end; }

.flex-left {
  -webkit-justify-content: flex-start;
  justify-content: flex-start; }

.even-spaced {
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.text-center {
  text-align: center; }

/* Columns */
.column-flow {
  -webkit-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column; }

/* basic height for landing websites*/
.landing-height {
  min-height: 100vh; }

/* Vertical align (because it's a flex grid duh) */
.vertical-align, .button, .button-skeleton {
  -webkit-align-items: center;
  align-items: center; }

/* I don't know what this is but it's cool when you use paddings */
.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Import the buttons */
.button, .button-skeleton {
  background: #171716;
  border-radius: 15em;
  color: white;
  cursor: pointer;
  height: 30px;
  letter-spacing: 2px;
  margin: 5px;
  padding: 3px;
  width: 100px; }

.button-big {
  height: 60px;
  width: 170px; }

.button-skeleton {
  background: transparent;
  border: 1px solid #171716;
  color: #171716; }
  .button-skeleton:hover {
    background: #171716;
    color: white; }

/* Import the grid */
.base-properties {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex; }

.row {
  -webkit-display: flex;
  -moz-display: flex;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  max-width: 100%; }

.container {
  width: 950px;
  max-width: 950px;
  margin: 0 auto; }

.one {
  width: calc(100%/12);
  max-width: calc(100%/12); }

.two {
  width: calc(100%/6);
  max-width: calc(100%/6); }

.three {
  width: calc(100%/4);
  max-width: calc(100%/4); }

.four {
  width: calc(100%/3);
  max-width: calc(100%/3); }

.five {
  width: calc(100%/2.4);
  max-width: calc(100%/2.4); }

.six {
  min-width: calc(100%/2.1);
  max-width: calc(100%/2.1); }

.seven {
  width: calc(100%/1.72);
  max-width: calc(100%/1.72); }

.eight {
  width: calc(100%/1.5);
  max-width: calc(100%/1.5); }

.nine {
  width: calc(100%/1.33333);
  max-width: calc(100%/1.33333); }

.ten {
  width: calc(100%/1.2);
  max-width: calc(100%/1.2); }

.eleven {
  width: calc(100%/1.090909);
  max-width: calc(100%/1.090909); }

.twelve {
  width: 100%; }

@media (max-width: 1000px) {
  .one,
  .two,
  .three,
  .four,
  .six,
  .five,
  .seven,
  .eight,
  .nine,
  .ten,
  .eleven,
  .twelve {
    min-width: 100%; }

  .container {
    max-width: 100%; } }
@media (max-width: 700px) {
  .container {
    max-width: 100%; } }
@media (max-width: 450px) {
  .container {
    max-width: 100%; } }
/* Import the inputs */
.form {
  width: 90%;
  padding: 10px; }

.full input[type=url],
.full input[type=text],
.full input[type=password],
.full input[type=number],
.full input[type=email],
.full input[type=file],
.full input[type=submit] {
  border-radius: 4px;
  border: 1px solid #ededed;
  height: 30px;
  margin: 10px;
  outline: none;
  padding: 0 10px;
  transition: 0.2s;
  width: 100%; }
  .full input[type=url]:focus,
  .full input[type=text]:focus,
  .full input[type=password]:focus,
  .full input[type=number]:focus,
  .full input[type=email]:focus,
  .full input[type=file]:focus,
  .full input[type=submit]:focus {
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    box-shadow: 0 0 1px rgba(23, 23, 22, 0.5);
    font-size: 15px;
    outline: #171716;
    transition: 0.2s; }

/* Import the headings */
h1 {
  font-size: 2rem; }

/* Import the links */
a {
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
  -webkit-transition: 0.2s;
  color: #171716;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.2s; }
  a:hover {
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    opacity: 1;
    transition: 0.2s; }

/*# sourceMappingURL=andrea.css.map */
