.button {
  display: flex; 
  @extend .vertical-align;
  -webkit-justify-content: center; 
  justify-content: center; 
  background: #171716;
  padding: 3px;
  border-radius: 15em;
  width: 100px;
  height: 30px;
  color: white;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer; 
  margin: 5px;
  
  &:hover {
    @include vertical-move(-5px);
    transition: 0.2s;
  }
}

.big {
  width: 170px;
  height: 60px;
}

.skeleton {
  @extend .button;
  background: transparent;
  color: #171716;
  border: 1px solid #171716;
  &:hover {
    background: #171716;
    transition: 0.2s;
    color: white;
  }
}